body {
    margin : 0;
    font-family : sans-serif;
    display: flex;
    flex-direction: column 
}

form {
    display: flex;
    justify-content: center;
}

.Lang {
    display: flex;
    flex-direction: column;
}

.topnav {
    background-color: darkslategray;
}

.topnav a{

    float: left;
    text-align: center;
    padding: 15px 15px;
    font-size: 15px;
    color: aliceblue;
    text-decoration: none;
}

.topnav a.active{
    background-color: rgb(7, 207, 207);
    color: black;
    font-size: 18px;
}

.result{
    display: flex; 
    justify-content: center; 
    flex-direction: row;
}