{% extends "base.html" %}

{% block body %}


    {{ topNav("", "", "", "", "active", "") }} 

    <h1 style="text-align: center;">Delete Language</h1>

    <form style="display: flex; justify-content: center;" action = "" method="POST">
        <div style="flex-direction: column;">
            <div class="Lang">
                <p>Please select the language: </p>
                {{ languageSelect(languages, "language", "language", "") }}
                <input type="submit" id="submit" value="DELETE">
            </div>
        </div>
    </form>

    {% if error == 0 %}
            <ul class="update">
                <li style="float: left; padding: 15px 15px;">Deleted successfully</li>
            </ul>
    {% endif %}

{% endblock %}