{% extends "base.html" %}

{% block body %}

    <div class="topnav">
        <a href="/">Insert</a>
        <a href="/search">Search</a>
        <a class="active" href="/dictionary">Dictionary</a>
    </div>

    <h1 style="text-align: center;">Dictionary</h1>

    <form action = "" method="POST">
        <div class="Lang">
            <p>Please select the first language: </p>
            <input type="text" name="lang1" list="languages">
            <p>Please select the second language: </p>
            <input type="text" name="lang2" list="languages">
        <input type="submit" value="Submit">
    </form>

    <div style="display: flex; flex-direction: row;">
        <div style="display: flex; flex-direction: column">
            <h4>From {{language1}} to {{language2}}: </h4>
            {% for item in result %}
                <p>{{item.0}} = {{item.1}}</p>
            {% endfor %}
        </div>
    </div>

{% endblock %}