{% extends "base.html" %}

{% block body %}

    {{ topNav("", "", "active", "", "", "") }} 
    <h1 style="text-align: center;">Dictionary</h1>

    <form action = "" method="POST">
        <div class="Lang">
            <p>Please select the first language: </p>
            {{ languageSelect(languages, "firstLang", "lang1", "checkLanguages()") }}
            <p>Please select the second language: </p>
            {{ languageSelect(languages, "secondLang", "lang2", "checkLanguages()") }}
        <input type="submit" id='submit' value="Submit" disabled>
    </form>

    <div style="display: flex; flex-direction: row;">
        <div style="display: flex; flex-direction: column">
            <h4>From {{language1}} to {{language2}}: </h4>
            {% for item in result %}
                <p>{{item.0}} = {{item.1}}</p>
            {% endfor %}
        </div>
    </div>

{% endblock %}