{% extends "base.html" %}

{% block body %}

    <div class="topnav">
        <a class="active" href="/">Insert</a>
        <a href="/search">Search</a>
    </div>

    <h1 style="text-align: center;">Insert Words</h1>
    <div>
        <form action = "" method="POST">
            <div class = "Lang">
                <select name="firstLang" id="firstLang">
                    {% for item in languages %}
                        <option value="{{item}}"> {{item}} </option>
                    {% endfor %}
                </select>
                <input type="text" name="firstWord"/>

            </div>
            <div class = "Lang">
                <select name="secondLang" id="secondLang">
                    {% for item in languages %}
                        <option value="{{item}}"> {{item}} </option>
                    {% endfor %}
                </select>
                <input type="text" name="secondWord"/>
                
            </div>
            <input type="submit" value="submit">
        </form>
    </div>

    <div style="display : flex; justify-content: center; flex-direction: column;">

        <h2 style = "display : flex; justify-content: center;">Last Words Added</h2>
        {% for item in lastWords %}

        <div class="result">
            <div style = "padding: 10px;">
                <p>{{item.0}}</p>
                <p>{{item.1}}</p>
            </div>

            <div style = "padding: 10px;">
                <p>{{item.2}}</p>
                <p>{{item.3}}</p>
            </div>
        </div>
        {% endfor %}
    </div>

{% endblock %}