{% extends "base.html" %}

{% block head %}
    
{% endblock %}
{% block body %}

    {{ topNav("active", "", "", "", "", "") }} 

    <h1 style="text-align: center;">Insert Words</h1>
 
    <form name="form"style="display: flex; justify-content: center;" action = "" method="POST">
        <div style="display: flex; flex-direction: column;">
            <div style="display: flex; flex-direction: row;">
                <div class = "Lang">
                    <p>Please insert the first language: </p>
                    {{ languageSelect(languages, "firstLang", "firstLang", "checkLanguages()") }}
                    <p>Word in first language: </p>
                    <input type="text" name="firstWord" required/>
                </div>
                <div class = "Lang">
                    <p>Please insert the second language: </p>
                    {{ languageSelect(languages, "secondLang", "secondLang", "checkLanguages()") }}
                    <p>Word in second language: </p>
                    <input type="text" name="secondWord" required/>
                </div>
            </div>
            <input type="submit" id="submit" value="submit">
        </div>
    </form>

    <div style="display : flex; justify-content: center; flex-direction: column;">

        <h2 style = "display : flex; justify-content: center;">Last Words Added</h2>
        {% for item in lastWords %}

        <div class="result">
            <div style = "padding: 10px;">
                <p>{{item.0}}</p>
                <p>{{item.1}}</p>
            </div>

            <div style = "padding: 10px;">
                <p>{{item.2}}</p>
                <p>{{item.3}}</p>
            </div>
        </div>
        {% endfor %}
    </div>

{% endblock %}