{% extends "base.html" %}

{% block body %}

<div class="topnav">
    <a href="/">Insert</a>
    <a class="active" href="/search">Search</a>
    <a href="/dictionary">Dictionary</a>
</div>

<h1 style="text-align: center;">Search Word</h1>

<form style="display: flex; justify-content: center;" action = "" method="POST">
    <div style="flex-direction: column;">
        <div class="Lang">
            <p>Please select the first language: </p>
            <input  type="text" name="language1" list="languages">
            <p>Please select the second language: </p>
            <input  type="text" name="language2" list="languages">
            <p>Word in first language: </p>
            <input type="text" name="word">
            <input type="submit" value="Search">
        </div>
        
    </div>
</form>

<h2 style="text-align: center;">Results</h2>

<div class="result">
    {% for item in result%}
        <div style = "padding: 10px;">
            <p>{{item.0}}</p>
            <p>{{item.1}}</p>
        </div>

        <div style = "padding: 10px;">
            <p>{{item.2}}</p>
            <p>{{item.3}}</p>
        </div>
    {% endfor %}
</div>

{% endblock %}